@using DigitizingProjectCore.Data;
@model DigitizingProjectCore.Models.News
@inject ApplicationDbContext _context
@{
    var currentCulture = System.Globalization.CultureInfo.CurrentCulture;
    var lang = currentCulture.Name;
    var last3News = _context.News.Where(x => x.IsDelete == false && x.IsActive == true && x.Id != Model.Id)
        .OrderByDescending(x => x.Date).Take(3);
}
<div class="page-title-area page-title-style-two">
    <div class="container">
        <div class="page-title-content">
            <h2>@(lang == "ar" ? Model.TitleAr : Model.TitleEn)</h2>
            <ul>
                <li>
                    <a href="/@lang/">
                        <i class="bx bx-home"></i>
                        @(lang == "ar" ? "الصفحة الرئيسية" : "Home")
                    </a>
                </li>
                <li>
                    <a href="/@lang/Home/About">
                        @(lang == "ar" ? "من نحن" : "AboutUs")
                    </a>
                </li>
                <li>
                    <a href="/@lang/Home/News">
                        @(lang == "ar" ? "الأخبار" : "News")
                    </a>
                </li>
                <li class="active">@(lang == "ar" ? Model.TitleAr : Model.TitleEn)</li>
            </ul>
        </div>
    </div>
</div>
<!-- End Page Title Area -->
<!-- Start Blog Details Area -->
<div class="blog-details-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="blog-details-content">
                    <div class="blog-details-img">
                        @if (!string.IsNullOrEmpty(Model.LogoImageName))
                        {
                            <img src="/Images/@Model.LogoImageName" alt="Image">
                        }
                    </div>

                    <div class="blog-top-content">
                        <div class="news-content">
                            <ul class="admin">
                                @*<li>
                                <a href="#">
                                <i class="bx bx-user-circle"></i>
                                Posted by: Belal Arabiead
                                </a>
                                </li>*@


                                <li class="float">
                                    <i class="bx bx-calendar-alt"></i>
                                    @Model.Date.ToString("dd MMMM yyyy")
                                </li>
                            </ul>

                            <h3>@(lang == "ar" ? Model.TitleAr : Model.TitleEn)</h3>

                            <p>@(lang == "ar" ? Model.SummaryAr : Model.SummaryEn)</p>
                        </div>
                        <div class="news-content-2 text-justify">
                            @Html.Raw((lang == "ar" ? Model.DetailsAr : Model.DetailsEn).Replace("\n","<br>"))
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="widget-sidebar">
                    <div class="sidebar-widget search">
                        <form action="/@lang/Home/News" class="search-form">
                            <input class="form-control" name="q" placeholder="@(lang=="ar"?"ابحث هنا":"Search here")" type="text">
                            <button class="search-button" type="submit">
                                <i class="bx bx-search"></i>
                            </button>
                        </form>
                    </div>
                    @if (last3News.Count() > 0)
                    {
                        <div class="sidebar-widget recent-post">
                            <h3 class="widget-title">
                                @(lang == "ar" ? "اخر الأخبار" : "RecentNews")
                            </h3>
                            <ul>
                                @foreach (var n in last3News)
                                {
                                    <li>
                                        <a href="/@lang/Home/NewsDetails/@n.Id">
                                            @(lang == "ar" ? n.TitleAr : n.TitleEn)
                                            <img src="/Images/@n.LogoImageName" alt="@(lang=="ar"?n.TitleAr:n.TitleEn)">
                                        </a>
                                        <span>@n.Date.ToString("dd MMMM yyyy")</span>
                                    </li>
                                }
                            </ul>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>