@using DigitizingProjectCore.Data;
@using DigitizingProjectCore.Services.LocalizationService;
@model List<Product>
@await Component.InvokeAsync("Layout");
@inject ApplicationDbContext _context
@{
    var currentCulture = System.Globalization.CultureInfo.CurrentCulture;
    var lang = currentCulture.Name;
    var _Solutions = _context.Solutions.Where(x => x.IsDelete == false && x.IsActive == true).OrderBy(x => x.SortId).ToList();
    var _Categories = _context.CategoryForProducts.Where(x => x.IsDelete == false && x.IsActive == true).OrderBy(x => x.SortId).ToList();
    var _Brands = _context.Brands.Where(x => x.IsDelete == false && x.IsActive == true).OrderBy(x => x.SortId).ToList();
}
@inject LocalizationService _localization

<!-- Start Page Title Area -->
<div class="page-title-area page-title-style-two">
    <div class="container">
        <div class="page-title-content">
            <h2>
                @_localization.Getkey("Products")
            </h2>
            <ul>
                <li>
                    <a href="/">
                        <i class="bx bx-home"></i>
                        @_localization.Getkey("Home")
                    </a>
                </li>
                <li class="active">
                    @_localization.Getkey("Products")
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="product-area ptb-100">
    <div class="container">
        <div class="showing-result">
            <form class="row align-items-center">
                <div class="col-lg-2 col-sm-2">
                    <input type="text" name="key" placeholder="Enter Your Search" class="form-control" />
                </div>
                <div class="col-lg-3 col-sm-3">
                    <select name="solutionId" class="form-control">
                        <option value="null">
                            @_localization.Getkey("SelectSolution")
                        </option>
                        @foreach (var item in _Solutions)
                        {
                            <option value="@item.Id">@(lang == "ar" ? item.NameAr : item.NameEN)</option>
                        }
                    </select>
                </div>
                <div class="col-lg-3 col-sm-3">
                    <select name="categoryId" class="form-control">
                        <option value="null">
                            @_localization.Getkey("SelectProductCategory")
                        </option>
                        @foreach (var item in _Categories)
                        {
                            <option value="@item.Id">@(lang == "ar" ? item.NameAr : item.NameEn)</option>
                        }
                    </select>
                </div>
                <div class="col-lg-3 col-sm-3">
                    <select name="brandId" class="form-control">
                        <option value="null">
                            @_localization.Getkey("SelectBrand")
                        </option>
                        @foreach (var item in _Brands)
                        {
                            <option value="@item.Id">@(lang == "ar" ? item.NameAr : item.NameEn)</option>
                        }
                    </select>
                </div>
                <div class="col-lg-1 col-sm-1">
                    <button type="submit" class="btn btn-primary"><i class="bx bx-search"></i></button>
                </div>
            </form>
        </div>

        <div class="row">
            @if (Model.Count() > 0)
            {
                foreach (var item in Model)
                {

                    <div class="col-lg-4 col-sm-6">
                        <div style="position:relative" class="single-product">
                            <a href="/Product/Details/?id=@item.Id" class="product-img">
                                <div class="imgProductContainer">
                                    <img src="~/Images/@item.LogoImageName" width="500" alt="@(lang=="ar"?item.NameAr:item.NameEn)">
                                </div>
                            </a>

                            <a href="/Product/Details/?id=@item.Id" style="display:block">
                                <h3>@(lang == "ar" ? item.NameAr : item.NameEn)</h3>
                            </a>
                            <div class="ProductBrandCategory">
                                <a href="/Product/Index?categoryId=@item.Category.Id" class="btn btn-danger btn-sm">
                                    @(lang == "ar" ? item.Category.NameAr : item.Category.NameEn)
                                </a>
                                @if (item.Brand != null)
                                {
                                    <a href="/Products/Index?brandId=@item.Brand.Id" class="btn btn-warning btn-sm">
                                        <img src="~/Images/@item.Brand.LogoImageName" style="height:20px" />
                                        @(lang == "ar" ? item.Brand.NameAr : item.Brand.NameEn)
                                    </a>
                                }
                            </div>
                        </div>
                    </div>
                }
                <div class="col-lg-12">
                </div>
            }
            else
            {
                <div class="col-sm-12">
                    <div class="alert alert-info">
                        @_localization.Getkey("ThereIsNoItemsToShow")
                    </div>
                </div>
            }
        </div>
    </div>
</div>