@model List<DigitizingProjectCore.Areas.Admin.ViewModel.CityViewModel>
<div class="table-responsive">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-6">
                    <h2>Cities</h2>
                </div>
                <div class="col-sm-6 text-right">
                    <a class="btn btn-success" onclick="showInPopup('@Url.Action("Add" , "City" ,null ,Context.Request.Scheme)' , 'Add City');">Add City</a>
                </div>
            </div>
        </div>
        <table class="table table-striped table-hover" id="tbllist">
            <thead>
                <tr>
                    <th>Name (English)</th>
                    <th>Name (Arabic)</th>
                    <th>Active</th>
                    <th>Created Date</th>
                    <th width="15%"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.NameEn</td>
                        <td>@item.NameAr</td>
                        @if (item.IsActive)
                        {
                            <td><input type="checkbox" checked></td>
                        }
                        else
                        {
                            <td><input type="checkbox"></td>
                        }
                        <td>@item.Created_At.ToString("dddd, dd MMMM yyyy")</td>
                        <td>
                            <a class='btn btn-xs btn-info PopUp' onclick="showInPopup('@Url.Action("Edit" , "City" ,new{id = item.Id} ,Context.Request.Scheme)' , 'Edit City');"><i class='glyphicon glyphicon-edit'></i></a>
                            <a class="btn btn-xs btn-danger PopUp" onclick="showInPopup('@Url.Action("Delete" , "City" ,new{id = item.Id} ,Context.Request.Scheme)' , 'Delete City');"><i class='glyphicon glyphicon-trash'></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>