@model List<CategoryViewModel>
@{
    Pager pager = new Pager();
    int pageNo = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}
<body>
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
                        <h2>Product Categories</h2>
                    </div>
                    <div class="col-sm-6 text-right">
                        <a class="btn btn-success" onclick="showInPopup('@Url.Action("Add" , "CategoryProduct" ,null ,Context.Request.Scheme)' , 'Add Category Product');">Add Category Product</a>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-hover" id="resultTable">
                <thead>
                    <tr>
                        <th>Name (English)</th>
                        <th>Name (Arabic)</th>
                        <th>Active</th>
                        <th>Created Date</th>
                        <th width="15%"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.NameEn</td>
                            <td>@item.NameAr</td>
                            @if (item.IsActive)
                            {
                                <td><input type="checkbox" checked></td>
                            }
                            else
                            {
                                <td><input type="checkbox"></td>
                            }
                            <td>@item.CreatedDate</td>
                            <td>
                                <a href="#" class='btn PopUp btn-xs btn-success'><i class='glyphicon glyphicon-link'></i></a>
                                <a class='btn btn-xs btn-info PopUp' onclick="showInPopup('@Url.Action("Edit" , "CategoryProduct" ,new{id = item.Id} ,Context.Request.Scheme)' , 'Edit Category Product');"><i class='glyphicon glyphicon-edit'></i></a>
                                <a class="btn btn-xs btn-danger PopUp" onclick="showInPopup('@Url.Action("Delete" , "CategoryProduct" ,new{id = item.Id} ,Context.Request.Scheme)' , 'Delete Category Product');"><i class='glyphicon glyphicon-trash'></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
    <div>
        @if (pager.TotalPages > 0)
        {
            <ul class="pagination justify-content-end">
                @for (var pge = pager.StartPage; pge <= pager.EndPage; pge++)
                {
                    <li class="page-item @(pge == pager.CurrentPage ? "active" : "")">
                        <a class="page-link btn-pge" asp-area="Admin" asp-controller="CategoryProduct" asp-action="Index" asp-route-pg="@pge" data-pg="@pge">@pge</a>
                    </li>
                }
            </ul>
        }
    </div>
</body>