@model List<CategoryViewModel>
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .table-responsive {
            overflow-x: hidden;
        }
    </style>
</head>
<body>
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
                        <h2>Product Categories</h2>
                    </div>
                    <div class="col-sm-6 text-right">
                        <a class="btn btn-success" onclick="showInPopup('@Url.Action("Add" , "CategoryProduct" , null , Context.Request.Scheme)','Add Category')">Add Product Category</a>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Name (English)</th>
                        <th>Name (Arabic)</th>
                        <th>Active</th>
                        <th>Created Date</th>
                        <th width="15%"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.NameEn</td>
                            <td>@item.NameAr</td>
                            @if (item.IsActive)
                            {
                                <td><input type="checkbox" checked></td>
                            }
                            else
                            {
                                <td><input type="checkbox"></td>
                            }
                            <td>@item.CreatedDate</td>
                            <td>
                                <a href="#" class='btn PopUp btn-xs btn-success'><i class='glyphicon glyphicon-link'></i></a>
                                <a asp-area="Admin" asp-controller="CategoryProduct" asp-action="Edit" asp-route-id="@item.Id" class='btn btn-xs btn-info PopUp'><i class='glyphicon glyphicon-edit'></i></a>
                                <a asp-area="Admin" asp-controller="CategoryProduct" asp-action="Delete" asp-route-id="@item.Id" data-id="@item.Id" class='btn btn-xs btn-danger Confirm btn-delete'><i class='glyphicon glyphicon-trash'></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</body>
</html>
@section scripts{
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.29/dist/sweetalert2.all.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".btn-delete").on("click", function (e) {
                $this = $(this);
                var id = $(this).attr("data-id");
                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            url: "@Url.Action("Delete","CategoryProduct", new { area = "Admin"})/" + id,
                            type: 'DELETE',
                            success: function (result) {
                                Swal.fire(
                                    'Deleted!',
                                    'Your file has been deleted.',
                                    'success'
                                )
                                console.log($this.closest("tr").remove());
                            }
                        });
                    }
                })
                e.preventDefault();
            });
            
        })

    </script>
}
