@using DigitizingProjectCore.Services.LocalizationService;
@model DigitizingProjectCore.Models.CategoryForService
@{
    var currentCulture = System.Globalization.CultureInfo.CurrentCulture;
    var lang = currentCulture.Name;
}
@inject LocalizationService _localization

<div class="page-title-area page-title-style-two">
    <div class="container">
        <div class="page-title-content">
            <h2>@(lang == "en" ? Model.NameEn : Model.NameAr)</h2>
            <ul>
                <li>
                    <a href="/">
                        <i class="bx bx-home"></i>
                        @_localization.Getkey("Home")
                    </a>
                </li>
                <li>
                    <a>
                        @_localization.Getkey("Services")
                    </a>
                </li>
                <li class="active">@(lang == "en" ? Model.NameEn : Model.NameAr)</li>
            </ul>
        </div>
    </div>
</div>
<!-- End Page Title Area -->
<!-- Start Safety Area -->
<section style="background-color:#fff !important" class="safety-area pt-100 pb-70">
    <div class="container">
        @*<div class="section-title">
        <span>@(lang=="en"?Model.NameEn:Model.NameAr)</span>
        <h2>@(lang=="en"?Model.SloganEn:Model.SloganAr)</h2>
        </div>*@

        <div class="row">
            @foreach (var item in Model._Services.Where(x => x.IsDelete == false && x.IsActive == true))
            {
                <a href="/Service/Details?id=@item.Id" class="col-lg-4 col-sm-6">
                    <div class="single-safety overly-one">
                        <div class="overly-two">


                            <img src="/Images/@item.LogoImageName" alt="@(lang=="en"?item.NameEn: item.NameAr)">
                            <div>
                                <h3>@(lang == "en" ? item.NameEn : item.NameAr)</h3>
                            </div>
                            <p>@(lang == "en" ? item.SummaryEn : item.SummaryAr)</p>
                        </div>
                    </div>
                </a>
            }

        </div>
    </div>


</section>