@using DigitizingProjectCore.Data;
@inject ApplicationDbContext _context;
@{
    var currentCulture = System.Globalization.CultureInfo.CurrentCulture;
    var lang = currentCulture.Name;
    var latestNews = _context.News.Where(x => x.IsDelete == false && x.IsActive == true)
        .OrderByDescending(x => x.Date)
        .Take(3);
}

<section class="blog-area blog-area-four mt-5 pb-70">
    <div class="container">
        <div class="section-title">
            <h2>@(lang == "ar" ? "اخر الأخبار" : "Last News")</h2>
        </div>

        <div class="row">
            @foreach (var item in latestNews)
            {
                <div class="col-lg-4 col-md-6">
                    <div class="single-blog">
                        <div class="blog-img imgContainer">
                            <a href="/News/Details?id=@item.Id">
                                <img src="~/Images/@item.LogoImageName" alt="@(lang=="ar"?item.TitleAr:item.TitleEn)">
                            </a>
                        </div>

                        <div class="blog-content">
                            <span>@item.Date.ToString("dd MMMM yyyy")</span>
                            <h3><a href="/News/Details?id=@item.Id">@(lang == "ar" ? item.TitleAr : item.TitleEn)</a></h3>
                            @*<p>@(lang=="ar"?item.SummaryAr:item.SummaryEn)</p>*@
                            <a href="/News/Details?id=@item.Id" class="read-more">
                                @(lang == "ar" ? "اقرأ المزيد" : "Read More")<i class="flaticon-right-arrow"></i>
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>